

 <%= form_for :home, :method => :post  do |f| %>
 <p>
  <%= f.label :email %>
  <%= f.text_field :email, :value => "Email" %>
 </p>

 <p>
  <%= f.label :postcode %>
  <%= f.text_field :postcode, :value => "Postcode" %>
 </p>

 <p>
 <%=  f.submit :value => "Download ebook" %>
 </p>

<% end %>

<h1>This is the where where the postcode and email address will go</h1>


